
body
{
	font-family: helvetica, sans-serif;
	color: #777780;
  	height: 100%;
  	width: 100%;
  	overflow: hidden;
}
/*             couleur de selection        */
::selection {
  background: #31b3d2; /* WebKit/Blink Browsers */
   
  }
::-moz-selection {
  background: #31b3d2; /* Gecko Browsers */
}
.sstitre::selection {
  background: #ffca0a; /* WebKit/Blink Browsers */
   color: white;
  }
.content{
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	min-height: 720px;
	margin: 0;
	z-index: 10;
	position: absolute;
 	overflow: hidden;
}
#gradient
{
  	position: absolute;
  	z-index: 1000;
  	width: 100%;
  	height: 100%;
  	overflow: hidden;
  	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 2%, rgba(255,255,255,0.31) 24%, rgba(255,221,97,1) 73%, rgba(255,202,10,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(255,255,255,0)), color-stop(24%,rgba(255,255,255,0.31)), color-stop(73%,rgba(255,221,97,1)), color-stop(100%,rgba(255,202,10,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 2%,rgba(255,255,255,0.31) 24%,rgba(255,221,97,1) 73%,rgba(255,202,10,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 2%,rgba(255,255,255,0.31) 24%,rgba(255,221,97,1) 73%,rgba(255,202,10,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 2%,rgba(255,255,255,0.31) 24%,rgba(255,221,97,1) 73%,rgba(255,202,10,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 2%,rgba(255,255,255,0.31) 24%,rgba(255,221,97,1) 73%,rgba(255,202,10,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffca0a',GradientType=0 ); /* IE6-9 */
 
}
.contenu{
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.75s ease-in-out;
  -moz-transition: all 0.75s ease-in-out;
  -o-transition: all 0.75s ease-in-out;
  transition: all 0.75s ease-in-out;
}
.head
{
	height: 35px;
	width: 100%;
	background: #777780;
  	z-index: 1000;
}
.market
{
	right: 30px;
	padding-top: 10px;
  	position: absolute;
}
.market>div
{
	float: left;
	margin-left: 20px;
}
.market>div>a>img
{
	width: 20px;
	height: auto;
}

.colgauche
{
	width: 30%;
	margin-right: auto;
	margin-left: auto;
	margin-left: 30px;
	float: left;
  	margin-left: 60px;
	height: 80%;
}
.titre
{
    -webkit-animation-name: bounceInDown;
  	animation-name: bounceInDown;
    -webkit-animation-duration: 1.2s;
 	animation-duration: 1.2s;
   	-webkit-animation-fill-mode: both;
  	animation-fill-mode: both;
  	z-index: 7;

}
.titre:hover
{
  	-webkit-animation-name: tada;
 	animation-name: tada;
   	-webkit-animation-duration: .75s;
  	animation-duration: .75s;
}
.titre>h3:first-child
{
	font-size: 3.2em;
	margin-bottom: -10px;
	left: 0;
	font-weight: 300;

}
.titre>h1
{
  	font-size: 6em;
  	margin: 0;
	margin-left: -6px;
    color: #ffca0a;
}
.sstitre
{
  	text-transform: uppercase;
	margin-top: 20px;
  	color: #777780;
	font-size: 1em;
  	line-height: 30px;
  	letter-spacing: 0.2em;
	text-decoration: underline;
	vertical-align: middle;
	font-weight: 300;
	width: 250px;
}
.sstitre:hover
{

}
.colgauche>h5
{
  	padding: 5px ;
  	text-transform: uppercase;
  	color: white;
  	background: #777780;
  	font-size: 0.6em;
  	letter-spacing: 0.2em;
	width: 150px;
	margin-bottom: 0;
  	margin-top: -15px;
}
.title:hover
{
	-webkit-animation-name: tada;
  	animation-name: tada;
}
.colgauche>img
{
	width: 100%;
	-webkit-animation-duration: 1s;
  	animation-duration: 1s;

}
.icondownload
{
  width: 20px;
  height: 20px;
  background: url('../img/home/github.png');
  background-size: cover;
  float: right;

}
.download
{
	width: 90px;
	margin-right: 40px;
	position: relative;
	padding: 5px;
	background: #777780;
	text-transform: uppercase;
	color: white;
	background: #777780;
	float: left;
}
.download>a{
	color: white;
	text-decoration: none;
	vertical-align: middle;
	margin-top: -15px;
	font-size: 0.8em;
    letter-spacing: 0.2em;
}
.download:hover .icondownload{
  background: url('../img/home/github_hov.png');
  background-size: cover;
}
.sprite{
	position: fixed;
  	z-index: 90;
	bottom: 15%;
	margin-left: 80px;

}
.content>h3
{
	font-family: helvetica, sans-serif;
	color: #777780;
	text-align: center;
	margin-top: 40px;
	letter-spacing: 0.2em;
}
video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url('../img/home/newsbreak.jpg') no-repeat;
	background-size: cover;
	z-index: 1;
}
.table
{
	width: 50%;
	margin-left: 50%;
	margin-top: 15%;
  	z-index: 5;
  	position: absolute;
}
.row{
	display: table-row;
}
.categorie
{
	float: left;
	font-family: helvetica, sans-serif;
	color: #777780;
	text-align: center;
	margin-left: 70px;
	min-width: 120px;
    cursor: pointer;
    margin-bottom: 20px;
	
}
.categorie>p
{
  text-transform: uppercase;
  color: #777780;
  font-size: 0.7em;
  font-weight: 800;
  letter-spacing: 0.1em;
}
.icone
{	
	width: 60px;
	height: 60px;
	background: #FFCA0A;
	border-radius: 50%;
	border-color: white;
	margin-right: auto;
	margin-left: auto;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-o
}
.icone>img{
	width: 40px;
	height: auto;
	padding-top: 15%;
	margin-right: auto;
	margin-left: auto;
}
.titreeticone
{
  position: relative;
  height: 80%;
}
.icone:hover
{
	-moz-transform: scale(1.3) rotate(360deg);
	-webkit-transform: scale(1.3) rotate(360deg);
	-o-transform: scale(1.3) rotate(360deg);
	-ms-transform: scale(1.3) rotate(360deg);
	transform: scale(1.3) rotate(360deg);

	background: #FFCA0A;
	border-radius: 50%;
	border-color: white;
}


/* credits pop up */
#showCredit {
	position: fixed;
	right : 5px;
}
#fade { /* dark opacity */
  display: none;
  background: #000;
  position: fixed; left: 0; top: 0;
  width: 100%; height: 100%;
  opacity: .80;
  z-index: 9999;
}
.popup_block{
  display: none;
  background:url('../img/credit/credits_back.png') no-repeat;
  float: left;
  font-size: 1.2em;
  position: fixed;
  top: 50%; left: 50%;
  z-index: 99999;
}
/*-- position fixed for IE6--*/
*html #fade {
  position: absolute;
}
*html .popup_block {
  position: absolute;
}
/* pop up button */
#mail{
  height: 44px;
  width: 44px;
  margin-top: 430px;
    position: fixed;
    margin-left: 50px;
}
#twitter{
  height: 44px;
  width: 44px;
  position: fixed;
  margin-top: 310px;
  margin-left: 430px; 
}
#facebook{
  height: 44px;
  width: 44px;
  position: fixed;
  margin-top: 170px;
  margin-left: 70px;
}
#home{
  	height: 63px;
  	width: 61px;
 	position: fixed;
    margin-top: 645px;
    margin-left: 240px;
}

footer
{
	position: relative;
height: 40px;
	z-index: 12;
	text-align: center;
	width: 100%;
	font-size: 0.7em;
	letter-spacing: 0.1em;
}
footer>img
{
  width: 20px;
  margin-right: 5px;
  padding: 5px 0px 5px 0px  ;
  margin-bottom: -10px;
}
footer>a
{
	color:#777780;
	font-weight: 300;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 1.2em;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
footer>a:first-child
{
	margin-right: 20px;
}
footer>a:first-child:hover,
footer>a:nth-child(3):hover
{
	font-weight: 800;
	text-decoration: underline;
}

footer>p
{
  margin-top: 10px;
}
.propos
{
  width: 80%;
}
.propos>h5
{
  text-align: center;
  color: #ffca0a;
  font-size: 1.6em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@media only screen and (max-width: 1024px) {
  .table{
    width: 50%;
    margin-left: 40%;
    margin-top: 20%;
  }
}
/*  fenetre Projet    */
#closeProjet
{
  width: 40px;
  height: 40px;
  background: url('../img/home/close.png');
  float: right;
}
#closeProjet:hover
{
   width: 40px;
  height: 40px;
  background: url('../img/home/closehover.png');
    -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#buttonClose
{
  width: 40px;
  height: 40px;
  background: url('../img/home/close.png');
  float: right;
}
#buttonClose:hover
{
   width: 40px;
  height: 40px;
  background: url('../img/home/closehover.png');
    -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.projetClose
{
opacity: 0;
  	z-index: 1;
  	height: 400px;
  	-moz-transform: translateY(1000px);
	-webkit-transform: translateY(1000px);
	-o-transform: translateY(1000px);
	-ms-transform: translateY(1000px);
	transform: translateY(1000px);
	-webkit-transition: all 0.75s ease-in-out;
	-moz-transition: all 0.75s ease-in-out;
	-o-transition: all 0.75s ease-in-out;
	transition: all 0.75s ease-in-out;

	padding: 100px;
	width: 60%;
	margin-left: 10%;

}
.projetUp
{
	opacity: 1;
	margin-left: 10%;
 	padding: 100px;
  	overflow: scroll;
  	position: absolute;
  	-moz-transform: translateY(-50px);
	-webkit-transform: translateY(-50px);
	-o-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
 	z-index: 2000;
 /* delais de latence */
 	-webkit-transition-delay: 0.4s; /* Safari */
    transition-delay: 0.4s;
  	-webkit-transition: all 0.75s ease-in-out;
  	-moz-transition: all 0.75s ease-in-out;
  	-o-transition: all 0.75s ease-in-out;
  	transition: all 0.75s ease-in-out;

}
.source
{
  	background: whitesmoke;
  	padding-bottom: 20px;
    padding-bottom: 10px;
}
.source>h3
{
  margin-bottom: 0;
  font-size: 1.6em;
  padding-top: 10px;
  padding-left: 10px;
}
.source>p{
    margin: 0;
  	padding-left: 10px;
}
.source>ul>li{
	list-style-type: none;
	margin-bottom: 10px;
	font-size: 1em;
	font-weight: 300;
	margin-left: 30%;
}
.source>ul>li>a{
	text-decoration: none;
	color:  #777780;
	vertical-align: middle;
	text-align: center;
}
.source>ul>li>a:hover{
 	font-size: bolder;
   	text-decoration: underline;
   	color: #ffca0a;
}
.source>ul>li>a:hover .link{
  	width: 15px;
  	height: 15px;
  	background: url('../img/home/linkhover.png');
    background-size: cover;
}
.source>ul>li>a:visited, .source>ul>li>a:selected {
  font-size: bolder;
}
.link
{
  width: 15px;
  height: 15px;
  background: url('../img/home/link.png');
  float: right;
  margin-right: 65%;
  background-size: cover;
}
.projetUp>h3
{
	font-size: 2em;
	letter-spacing: 0.2em;
    color: #ffca0a;
    margin-top: 50px;
}
.shareUp>h3
{
	font-size: 2em;
	letter-spacing: 0.2em;
    color: #ffca0a;
    margin-top: 50px;
}
.projetUp>p
{
  
}
.contentUp
{
	-moz-transform: translateY(-1000px);
	-webkit-transform: translateY(-1000px);
	-o-transform: translateY(-1000px);
	-ms-transform: translateY(-1000px);
	transform: translateY(-1000px);
   	-webkit-transition: all 0.75s ease-in-out;
  	-moz-transition: all 0.75s ease-in-out;
  	-o-transition: all 0.75s ease-in-out;
  	transition: all 0.75s ease-in-out;
/* delais de latence */
 
}
.contentDown
{
	z-index: 2000;
	-webkit-transition: all 0.75s ease-in-out;
	-moz-transition: all 0.75s ease-in-out;
	-o-transition: all 0.75s ease-in-out;
	transition: all 0.75s ease-in-out;
	margin: 0;
}
.shareClose
{
	opacity: 0;
  	z-index: 1;
  	height: 400px;
  	margin-left: 10%;
  	-moz-transform: translateY(1000px);
	-webkit-transform: translateY(1000px);
	-o-transform: translateY(1000px);
	-ms-transform: translateY(1000px);
	transform: translateY(1000px);

	-webkit-transition: all 0.75s ease-in-out;
	-moz-transition: all 0.75s ease-in-out;
	-o-transition: all 0.75s ease-in-out;
	transition: all 0.75s ease-in-out;
	padding: 100px;
	width: 50%;

}
.shareUp
{
	top: 0;
  	opacity: 1;
  	height: 400px;
	margin-left: 10%;
  	padding: 100px;
  	width: 60%;
  	position: absolute;
  	-moz-transform: translateY(-0px);
	-webkit-transform: translateY(-0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
 	z-index: 2000;

 /* delais de latence */
 	-webkit-transition-delay: 0.4s; /* Safari */
    transition-delay: 0.4s;
   	-webkit-transition: all 0.75s ease-in-out;
  	-moz-transition: all 0.75s ease-in-out;
  	-o-transition: all 0.75s ease-in-out;
 	transition: all 0.75s ease-in-out;

}
.socialshare
{
  width: 300px;
}
.share-btn
{
  float: left !important;
}
.share-btn:nth-child(3){
  margin-top: -25px !important;
  margin-left: 300px !important;
}
.newsletter
{
  margin-top: 70px;
  background: whitesmoke;
}
.newsletter>h4{
  margin-bottom: 0;
  font-size: 1.6em;
  padding-top: 10px;
  padding-left: 10px;
}
.newsletter>p{
  margin: 0;
  padding-left: 10px;
}
.input
{
   position: relative;
  z-index: 1;
  display: inline-block;
  margin-left: 1em;
  max-width: 250px;
  width: calc(100% - 2em);
  vertical-align: top;
}
.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}
/* Kozakura */
.input--kozakura {
  overflow: hidden;
  padding-bottom: 1em;
}
.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}
.input__field--kozakura {
  padding: 0.25em 0.5em;
  margin-top: 1.25em;
  width: 100%;
  background: transparent;
  color: #2F3238;
  font-size: 1.55em;
  opacity: 0;
}
.input__label {
  display: inline-block;
  float: left;
  padding: 0 1em;
  width: 40%;
  opacity: 0.8;
  color: white;
  font-weight: 300;
  font-size: 1.5em;
  margin-top: -50px;
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}
.input__label--kozakura {
  width: 100%;
  text-align: left;
  position: absolute;
  top: 1em;
  pointer-events: none;
  overflow: hidden;
  padding: 0 0.25em;
  -webkit-transform: translate3d(1em, 2.75em, 0);
  transform: translate3d(1em, 2.75em, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label-content--kozakura {
  color: #A4A5A6;
  padding: 0.4em 0 0.5em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  margin-top: -7px;
}

.input__label-content--kozakura::after {
  content: attr(data-content);
  position: absolute;
  font-weight: 800;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  color: #ffca0a;
  padding: 0.25em 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em;
}
.input__field:focus {
  outline: none;
}
.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}
.graphic--kozakura {
  fill: #ffca0a;
  pointer-events: none;
  top: 1em;
  bottom: 0px;
  height: 4.5em;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.7s, fill 0.7s;
  transition: transform 0.7s, fill 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--kozakura:focus,
.input--filled .input__field--kozakura {
  -webkit-transition: opacity 0s 0.35s;
  transition: opacity 0s 0.35s;
  opacity: 1;
}

.input__field--kozakura:focus + .input__label--kozakura,
.input--filled .input__label--kozakura {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  color: #ffca0a;
  -webkit-transform: translate3d(0.3em,1.1em, 0);
  transform: translate3d(0.3em,1.1em, 0);
}

.input__field--kozakura:focus + .input__label--kozakura .input__label-content--kozakura,
.input--filled .input__label-content--kozakura {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  outline: none;
  outline: white;
  border: white;
}

.input__field--kozakura:focus ~ .graphic--kozakura,
.input--filled .graphic--kozakura {
  fill: #fff;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
  outline: none;
  border: white;
   outline: white;
}
button{
  background: none;
  border: none;
  font-family: helvetica;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #777780;
  margin-top: 30px;
  font-weight: 300;
  padding: 15px;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
button:focus, button:hover
{
  color: white;
  background: #777780;
}