html,body{
	margin: 0;
  	padding: 0;
  	height: 100%;
}

/******************** css page game.php ********************/
#cvs{
	background-color:white;	
	margin-left: 103px;
	box-shadow: black 0 0 8px 1px;
	/* round corner */
	-moz-border-radius:10px 10px;
	-webkit-border-radius:10px 10px;
	border-radius:10px 10px;
	margin-top: 115px;
	height: 80%;
	width: 80%;
}
.cursor{
	cursor: none;
}
.People{
	background: url('../img/background_canvas/people.png')  no-repeat;
}
.Culture{
	background: url('../img/background_canvas/culture.png')  no-repeat;
}
.Technologie{
	background: url('../img/background_canvas/techno.png')  no-repeat;
}
.Politique{
	background: url('../img/background_canvas/politique.png')  no-repeat;
}
.Sport{
	background: url('../img/background_canvas/sport.png')  no-repeat;
}
.Cinema{
	background: url('../img/background_canvas/cinema.png')  no-repeat;
}
.International{
	background: url('../img/background_canvas/international.png')  no-repeat;
}
.Sciences{
	background: url('../img/background_canvas/sciences.png')  no-repeat;
}
.Economie{
	background: url('../img/background_canvas/economie.png')  no-repeat;
}
.content{
	width: 100%;
	height: 100%;
	display: table;
	background-color: #dfdfe5;

}
.mainDivTop{
	display: table-row;;
	width: 100%;
	height: 110px;
	background-color: #00acca;
	position: fixed;
	top: 0px;
}
.middleCircle{
	border-radius: 50%;
	width: 100px;
	height: 100px; 
	margin-top: 5px;
	background-color: #777780;
	margin-left:auto;
	margin-right:auto;
	box-shadow: rgba(0,0,0,0.5) 0 0 3px 1px;
}
.leftDiv{
	display: table-cell;
	vertical-align: middle;
}
/*		barre latérale menu		*/
.rightDiv
{
	width: 95px;
	background-color: #777780;
	text-align: center;
	display: table-cell;
	padding: 30px;
}

.rightDivTop
{
	height: 40%;
}
.rightDivMiddle
{
	height: 50%;
	margin-bottom: 20%;
}
.rightDivMiddle>.icone
{
	margin-left: auto;
	margin-right: auto;
}
.icone
{
	cursor: pointer;
	padding-bottom: 20px;	
	/*
	padding-top: 35%;
	padding-bottom: 35%;
	*/
}
#capture {
  margin-top: 125px;
}
.copyright{
	/*position: relative;*/	
	right: 20px;
	color: white;
	font-size: small;
}

/* pop up instruction */

#fade { /* dark opacity */
	display: none;
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none;
	background:url('../img/instruction/instructions_back.png') no-repeat;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
}
.popup_cap{
	display: none;
	background:url('../img/capture/capture-back.png') no-repeat;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
}
/*-- position fixed for IE6--*/
*html #fade {
	position: absolute;
}
*html .popup_block, .popup_cap {
	position: absolute;
}
#imgPlay{
	margin-top: 465px;
  	margin-left: 125px;
}
#cvsDL{
  	margin-top: 515px;
  	margin-left: 450px;
  	position: absolute;
}
#cvsBack{
  	margin-left: 250px;
  	margin-top: 515px;
  	position: absolute;
}