html,body{
	margin: 0;
  	padding: 0;
  	height: 100%;
}

/******************** css page game.php ********************/
#cvs{
	background-color:white;	
	margin-left: 103px;
	box-shadow: black 0 0 8px 1px;
	/* round corner */
	-moz-border-radius:10px 10px;
	-webkit-border-radius:10px 10px;
	border-radius:10px 10px;
}
.cursor{
	cursor: url('../img/monstre_curseur.png'), pointer;
}
.People{
	background: url('../img/background_canvas/people_back.png') repeat #777780;
}
.Culture{
	background: url('../img/background_canvas/culture_back.png') repeat #777780;
}
.Technologie{
	background: url('../img/background_canvas/techno_back.png') repeat #777780;
}
.Politique{
	background: url('../img/background_canvas/politique_back.png') repeat #777780;
}
.Sport{
	background: url('../img/background_canvas/sport_back.png') repeat #777780;
}
.Cinema{
	background: url('../img/background_canvas/cinema_back.png') repeat #777780;
}
.International{
	background: url('../img/background_canvas/international_back.png') repeat #777780;
}
.Sciences{
	background: url('../img/background_canvas/sciences_back.png') repeat #777780;
}
.Economie{
	background: url('../img/background_canvas/economie_back.png') repeat #777780;
}
.content{
	width: 100%;
	height: 100%;
	display: table;

}
.leftDiv{
	display: table-cell;
	vertical-align: middle;

}
.rigthDiv{
	width: 130px;
	background-color: #00acca;
	text-align: center;
	display: table-cell;
}
.icone{
	cursor: pointer;
	padding-top: 35%;
	padding-bottom: 35%;
}
.copyright{
	/*position: fixed;*/
	bottom: 10px;
	right: 20px;
	color: #777780;
	font-size: small;
}
/* pop up instruction */

#fade { /* dark opacity */
	display: none;
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block{
	display: none;
	background:url('../img/instruction/instructions_back.png') no-repeat;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; left: 50%;
	z-index: 99999;
}
/*-- position fixed for IE6--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}
#imgPlay{
  	margin-top: 645px;
  	margin-left: 190px;
}